<section id="menu">  
    <div class="row">
        <div class="col-md-2 sidebar" id="side_nav">
            <ul class="list-unstyled px-3">
                <li class=""><a href="#acercademi" class="text-decoration-none px-3 py-2 d-block">Acerce de Mi</a></li>
                <li class=""><a href="#hys" class="text-decoration-none px-3 py-2 d-block">Aptitutes y Habilidades</a></li>   
                <li class=""><a href="#formacionacademica" target="_blanck" class="text-decoration-none px-3 py-2 d-block">Formacion academica</a></li>
                <li class=""><a href="#cursosycertificaciones" class="text-decoration-none px-3 py-2 d-block">Cursos y Certificaciones</a></li>                
                <li class=""><a href="#experiencia" class="text-decoration-none px-3 py-2 d-block">Experiencia Laboral</a></li>
                <li class=""><a href="#proyectos" class="text-decoration-none px-3 py-2 d-block">Proyectos</a></li> 
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col" >
                    <app-carousel></app-carousel>  
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-acercademi></app-acercademi>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-hys></app-hys>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-formacacionacademica></app-formacacionacademica>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-cursosycertificaciones></app-cursosycertificaciones>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-experiencialaboral></app-experiencialaboral>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <app-proyectos></app-proyectos>
                </div>
            </div> 
        </div>
    </div>
</section>   











    