<div class="modal" id="AcercaModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Cursos y Certificaciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="acercaDeMiForm">

            <!-- Formulurario de Acerca de Mi -->
            <div class="mb-3">
                <select class="form-select" id="cursosId">
                    <option selected>Seleccionar Perona</option>
                    <option value="1">ID1</option>
                    <option value="2">ID2</option>
                    <option value="2">ID3</option>
                    <option value="2">ID4</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="experienciaInfo" class="form-label">Modificar Informacion </label>
                <textarea class="form-control" id="experienciaInfo" rows="3"></textarea>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-Login" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
