<!-- <div class="modal" id="ExperienciaModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="experienciaForm">
          <div class="modal-body">
             Formulurario de experiencia  
            <div class="mb-3">
                <select class="form-select" id="experienciaId">
                    <option selected>Seleccionar Experiencia</option>
                    <option value="1">ID1</option>
                    <option value="2">ID2</option>
                    <option value="3">ID3</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="experienciaUrl" class="form-label">Modificar Url de Empresa</label>
                <input class="form-control" type="url" id="experienciaUrl"
                formControlName="url" placeholder="Ingrese URL" [(ngModel)]="url"> 
            </div>
            <div class="mb-3">
                <label for="experienciaImg" class="form-label">Modificar Logo de la Empresa</label>
                <input class="form-control" type="url" id="experienciaImg">
            </div>
            <div class="mb-3">
                <label for="experienciaCargo" class="form-label">Modificar Cargo</label>
                <input  type="text" class="form-control" id="experienciaCargo" placeholder="Nombre nuevo">
            </div>
            <div class="mb-3">
              
                <label for="experienciaPeriodoInicio" class="form-label">Modificar Periodo Inicio</label>
                <input  type="date" class="form-control" id="experienciaPeriodoInicio">
            </div>
            <div class="mb-3">
                <label for="experienciaPeriodoFin" class="form-label">Modificar Periodo Fin</label>
                <input type="date" class="form-control" id="experienciaPeriodoFin">
            </div>
            <div class="mb-3">
              <label for="experienciaInfo" class="form-label">Modificar Informacion del Cargo</label>
              <textarea class="form-control" id="experienciaInfo" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-ligth" (click)="limpiar()">Limpiar</button>
            <button type="button" class="btn btn-Login" data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>  -->
