.borde2{
    border: 2px solid blue;
    border-radius: 50px; 
    margin-top: 20px;
    margin-bottom: 30px; 
    padding-top: 20px;
    padding-bottom: 20px;

}

.subir{
    margin-left: 10px;
}


.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

