<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="institucion">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="institucion" name="institucion" [(ngModel)]="institucion" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="fechaInicio">Fecha Inicio</label>
                    <input type="text" class="form-control" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" required>
                </div>
                <div class="form-group">
                    <label for="fechaFin">Fecha Fin</label>
                    <input type="text" class="form-control" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin" required>
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="file" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen" required>
                </div>
                <button class="btn btn-primary">
                    Agregar educacion
                </button>
            </form>
        </div>
    </div>
</div>
