<div class="container" *ngIf="curso">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreCurso">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nombreCurso" name="nombreCurso" [(ngModel)]="curso.nombreCurso" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="curso.titulo" required>
                </div>
                <div class="form-group">
                    <label for="fechaInicio">Fecha Inicio</label>
                    <input type="text" class="form-control" id="fechaInicio" name="fechaInicio" [(ngModel)]="curso.fechaInicio" required>
                </div>
                <div class="form-group">
                    <label for="fechaFin">Fecha Fin</label>
                    <input type="text" class="form-control" id="fechaFin" name="fechaFin" [(ngModel)]="curso.fechaFin" required>
                </div>
                <button class="btn btn-primary">
                    Editar curso
                </button>
            </form>
        </div>
    </div>
</div> 

